body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-image: url(https://images.unsplash.com/photo-1605002713581-123e77bcf83d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=720&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue ;
    color: white;
}

.menu {
    display: flex;
    padding: 10px;
    border-radius: 5px;
    background-color: cornflowerblue ;
    color: white;
    margin: 5px;
}

.menu li a {
    display: flex;

    text-decoration: none;
}

.menu li a:visited {
    color: white;
}
  
.menu li {
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
}

  /* https://images.unsplash.com/photo-1542707067-91f05e1ac1fe?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80 */

  /* https://images.unsplash.com/photo-1593701217945-831815ab0669?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1192&q=80 */

  /* https://upload.wikimedia.org/wikipedia/commons/thumb/b/bc/Signal_Iduna_Park%2C_Dortmund%2C_Germany_%28Unsplash_1hGAXyyav64%29.jpg/800px-Signal_Iduna_Park%2C_Dortmund%2C_Germany_%28Unsplash_1hGAXyyav64%29.jpg */

  /* https://cdn.stocksnap.io/img-thumbs/960w/sport-venue_Y4M9C05O2Q.jpg */

  /* https://www.michaellovins.com/wp-content/uploads/2020/03/marvin-ronsdorf-neIVhZEaBZE-unsplash-768x512.jpg */

  /* https://images.unsplash.com/photo-1585569609560-dd6b15da1c11?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80 */

  /* https://images.unsplash.com/photo-1551384732-fb4f003640e4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80 */

  /* https://images.unsplash.com/photo-1519673287446-ebaf7eb9f8d8?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1233&q=80 */


.clubs {
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 200px;
    padding: 35px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: white;
}

.small-clubs {
    border: 1px solid #ccc;
    border-radius: 5px;
    height: auto;
    padding: 2px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: white;
}


.mini-table {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    min-height: 200px;
    padding: 15px;
    font-size: small;
    line-height: 20px;
    margin-bottom: 10px;
    background-color: white;
    grid-column: 6;
}

.main-table {
    border: 1px solid #ccc;
    border-radius: 5px;
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 400px;
    padding: 15px;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: white;
}

.main-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;
}

.clubs, .fixtures, .players {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
    background-color: white;  
}

.buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1em;
    color: #aab8c2;
  }

.buttons > a {
    text-decoration: none;
}

#grid-container-content {
    display: grid;
    grid-template-columns: 2fr 4fr 0fr;
    grid-auto-rows: 250px;
}

#grid-container-fixture-club-player {
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
}

.club-player-fixture-background {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 35px;
    height: fit-content;
    line-height: 30px;
    margin-bottom: 10px;
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 4;
}